.App {
  margin:0 auto;
  text-align: center;
  background-color: #eeeeee;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content{
  margin:0 auto;
  width: 1200px;
}

.plug{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeCard{
  color: black;
  background-color: #d9d9d9;
  padding: 3px;
  border-radius: 5px;
  margin-left: 5px;
}

.completeTask{
  text-decoration: line-through;
  color: green;
}
